@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Water+Brush&display=swap');
:root {
  --heading-font: "Water Brush";
  --paragraph-font: Roboto, Helvetica, sans-serif;
}

.home-title {
  font-family: var(--heading-font);
  font-size: 2em;
  margin-top: 10px;
}


div{
  max-width: 1600px;
  margin: 0 auto;
  
}

nav a{
  text-align: center;
  text-decoration: none;
  padding: 35px;
} 


#hero-msg h1, #hero-msg h4{
  text-align: center;
  font-family: var(--heading-font);

}

.button-box{
  text-align: center;
}

main section{
  
  text-align: center;
}

#background {
  height: 725px;
}

body {
  font-family: var(--paragraph-font);
  font-size: 22px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke ;
}
header {
  
  background-color: aquamarine;
}
nav a:hover {
  background-color: aliceblue;
}
.book, .join{
  background-color: rgb(158, 204, 245);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}   


.book:hover, .join:hover{
  background-color: aliceblue;
}
#background
.msg{
  line-height: 1.5em;
  font-size: .8em;
  font-family: var(--paragraph-font);
  background-color: aquamarine;
  padding: 35px;
}
footer{
  background-color: rgb(138, 248, 211);
  margin-top: 200px;
  
}

nav a{
  background-color: aquamarine;
  color: black;
}
nav a:hover {
  background-color: aliceblue;
}
.home-title {
  background-color: rgb(138, 248, 211);
}
h4{
  background-color: aquamarine;
}
.book, .join {
  background-color: aquamarine;
  color: black;
}
.book:hover, .join:hover{
  background-color: whitesmoke;
  color:black
}
  

h2 {
  margin: 0;
  background-color: aquamarine;
  color: black;
}
  

p {
  font-size: 1em;
  background-color: aquamarine;
  color: black;
  padding-bottom: 15px;
}
  

footer h3 {
  
  color: black;
}
footer a {
  
  background-color: aquamarine;
  color:black;
  text-decoration: none;
  padding: 25px 50px;
  
}
footer a:hover {
  text-decoration: underline;
  background-color: whitesmoke;
}
footer .social img{
  padding-top: 15px;
}

.card-img {
  border: 10px solid black;
  
}

main section img {
  box-sizing: border-box;
}

#logo_link {
  padding-top: 5px;
}   
.icon {
  width: 80px;
  padding-top: 10px;
}